#container_filters {
  width: 100%;
  height: 60px;
  background-color: rgba(11, 19, 28, 0.832);
  display: flex;
  justify-content: center;
  align-items: center;
}

#box_filters {
  width: 300px;
  height: 36px;
  margin-left: 14px;
  padding-left: 10px;
  border: none;
  font-size: 16px;
  color: whitesmoke;
  background-color: rgb(40, 39, 39);
}

#inpt_search {
  width: 300px;
  height: 100%;
  padding-left: 6px;
  margin-left: 20px;
  border: none;
  font-size: 16px;
  color: whitesmoke;
  background-color: rgb(40, 39, 39);
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/* SELECT */

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  width: 240px;
  height: 100%;
  margin-left: 10px;
  background-color: rgb(40, 39, 39);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  top: 100%;
  left: 10px;
  right: 0;
  z-index: 99;
  background-color: rgb(40, 39, 39);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 886px) {
  #container_filters {
    height: fit-content;
    padding: 10px;
  }
  #box_filters {
    margin-top: 14px;
    margin-left: 0px;
    width: 100%;
  }
  .box_filters_main {
    flex-direction: column;
    width: 100%;
  }
  .select-selected {
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
  }

  .custom-select {
    width: 100%;
  }

  .select-selected::after {
    top: 24px;
  }
}
