#container_filters {
  width: 100%;
  height: 6vh;
  background-color: rgba(11, 19, 28, 0.832);
  display: flex;
  justify-content: left;
  align-items: center;
}

#box_filters {
  width: auto;
  height: 36px;
  margin-left: 40px;
}

#box_filters ul {
}

#box_filters ul li {
  width: auto;
  height: 40px;
}

.cssSearchFilters {
  width: 300px;
  height: 100%;
  padding-left: 6px;
  margin-left: 20px;
  border: none;
  font-size: 16px;
  color: whitesmoke;
  background-color: rgb(40, 39, 39);
}

.cssPlateformDateFilters {
  width: 200px;
  height: 100%;
  padding-left: 10px;
  margin-left: 20px;
  border: none;
  font-size: 16px;
  color: whitesmoke;
  background-color: rgb(40, 39, 39);
}

@media screen and (max-width: 866px) {
  #container_filters {
    height: auto;
  }
  #box_filters {
    width: auto;
    height: auto;
  }
  #box_filters ul {
    margin-left: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  #box_filters ul li {
    margin: 10px;
  }
  .cssSearchFilters {
    margin-left: 0;
  }
  .cssPlateformDateFilters {
    margin-left: 0;
  }
}
