#container_add_suggestion {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background-color: gray;
  display: none;
}

/* BOX QUIT */

#box_quit {
  width: 100%;
  height: 12%;
  background-color: rgba(2, 2, 3, 0.848);
  display: flex;
  justify-content: right;
  align-items: center;
}

#box_quit button {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  color: whitesmoke;
  background-color: crimson;
  cursor: pointer;
}

/* CONTAINER AD SUGGESTION */

#box_input_add_suggestion {
  width: 100%;
  height: 90%;
  background-color: rgb(2, 2, 3);
}

#box_input_add_suggestion form {
  width: 80%;
  height: 90%;
  margin: 10px;
  flex-direction: column;
}

#box_input_add_suggestion form input {
  width: 100%;
  height: 100px;
  padding-left: 6px;
}

/* CONTAINER PLATEFORM */

#box_plateform_add_suggestion {
  width: 100%;
  height: 40px;
  justify-content: left;
}

#box_plateform_add_suggestion p {
  color: whitesmoke;
}

#box_plateform_add_suggestion label {
  margin-left: 4px;
  margin-right: 20px;
  color: whitesmoke;
}

#box_plateform_add_suggestion input {
  width: 20px !important;
  height: 20px !important;
  margin: 10px !important;
}

/* INPUT SUBMIT */

#inpt_submit {
  cursor: pointer;
}
