@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: montserrat;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  cursor: default;
}

ul {
  list-style: none;
}

div {
  cursor: default;
}

h1,
h2,
h3 {
  cursor: default;
}

.li{
  list-style: none;
}
